body {
	font-family: “Gill Sans”,Calibri,“Trebuchet MS”,sans-serif;
	font-size: 100%;
	line-height: 1.21em;
	margin: 0;
	padding: 0;
	width: 100%;
}

html>body {
	font-size: 16px;
}

h1,
h2 {
    font-size: 2.25em; /* 36 / 16 */ /* COPIED FROM H2, H1 SHOULD BE DIFF CALCS */
	line-height: 1em; /* original lh was 48 / 36 */
	margin-bottom: .667em; /* 24 / 36 */
}

h3 {
    font-size: 1.5em; /* 24 / 16 */
	line-height: 1em; /* original lh was 24 / 24 */
	margin-bottom: 1em; /* 24 / 24 */
}

p {
    font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
}

h1,
h2,
h3 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#wrapper {
	width: 100%;
	text-align: left;
	background: url("//www.churchillmanor.com//images/bg.jpg") repeat-x scroll 0% 0% rgb(99, 20, 17);
}

#header-container {
	width: 100%
}
		
#header {
	/*background-image: url(./wallpaper2.jpg);
	border: 2px solid black;
	height: 10em;
	margin: 0;
	padding: 2em;
	position: relative;*/
	margin: 0 auto;
	width: 91%;
	height: 3em;
	background-color: tan;
	margin-top: .4em;
}

#headerlogo {
	background-color: black;
	display: inline-block;
	height: 5em;
	width: 200px;
	float: left;
}

#header p {
	display: none;
	float: right;
	overflow: visible;
}
		
#TopNav {
	background-color: darkGray;
	text-align: right;
	width: 100%;
}
		
#TopNav ul {
	background-color: lightGray;
	width: 81%;
	margin: 0 auto;
	padding: .2em 1em;
}
		
#TopNav li {
	/*border: 1px solid darkBlue;*/
	background-color: peru;
	display: inline-block;
	overflow: hidden;
	font-size: 110%;
}

#TopNav li:hover {
	background-color: lightGreen;
}
		
#TopNav li a {
	color: white;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
		
#TopNav li a:hover {
	color: green;
}

#TopNav li a:active {
	text-decoration: underline;
}

#TopNav li a:focus {
	color: green;
}

#TopNav .directions {
	display: none;
}

/*	MAIN CONTENT  CONTAINER================================================================= */

#main-content-container {
	width: 100%;
}

/*	MAIN CONTENT ========================================================================== */
	
.main-content {
	clear: both;
	width: 81%;
	/*max-width: 92.3em;*/
	margin: 0 auto;
	padding: 1em 1em;
	color: rgb(51, 51, 51);
	position: relative;
	background-color: white;
}
		
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
	
/*  GRID COLUMN SETUP   ==================================================================== */

.column {
	display: block;
	float:left;
	margin-left: 1.6%; /*used to be margin 1% 0 1% 1.6%*/
}

.column:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
	
/*  GRID OF FOUR   ============================================================================= */

	
.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-4-of-4 {
		width: 100%; 
	}
	.span-3-of-4 {
		width: 100%; 
	}
	.span-2-of-4 {
		width: 100%; 
	}
	.span-1-of-4 {
		width: 100%; 
	}
	
	#TopNav li {
		display: block;
		width: 100%;
	}
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS ==================================== */

@media only screen and (max-width: 480px) {
.column { 
	margin: 1% 0 1% 0%;
	}
}
	
	@media only screen and (max-width: 768px) {}
	
/*  GROUPING  ===========for=floating=problems============================================= */


.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*	FOOTER ============================================================================= */
		
#footer-container {
	clear: both;
	display: block;
	width: 100%;	
	border-top: 1px solid #000;
}
		
.footer-content {
	clear: both;
	width: 81%;
	margin: 0 auto;
	padding: 1em 0;
	position: relative;
}

#social-buttons {
	text-align: center;
}

/*	SLIDES =============================================================================== */
		
.rslides-container {
	position: relative;
	float: left;
	/*width: 100%;*/
	width: 250px;
}
		
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*	SLIDES IMAGES ======================================================================== */

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	position: relative;
}

/* 	SLIDES NAVIGATION =================================================================== */

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.2;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:hover {
  opacity: 0.5;
}
  
.large-btns_nav:active {
  opacity: 0.7;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.large-btns_nav:focus {
  outline: none;
}

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
}